.mediaViewInfo {
	--web-view-name: Contact_page;
	--web-view-id: Contact_page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Contact_page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Contact_page {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(16,16,16,1);
	overflow: hidden;
	--web-view-name: Contact_page;
	--web-view-id: Contact_page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#HOME_bp {
	left: 1393px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(146,235,245,1);
}
#ABOUT_bq {
	left: 1520px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: about.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(146,235,245,1);
}
#CONTACT_br {
	left: 1657px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(146,235,245,1);
}
#Portfolio_bs {
	left: 140px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.01px;
}
#vashisht_base_bt {
	fill: rgba(146,235,245,1);
}
.vashisht_base_bt {
	overflow: visible;
	position: absolute;
	width: 361.182px;
	height: 578.089px;
	left: 1418.818px;
	top: 148px;
	transform: matrix(1,0,0,1,0,0);
}
#vashisht_bu {
	position: absolute;
	width: 306.849px;
	height: 513.917px;
	left: 1445.998px;
	top: 180.471px;
	overflow: visible;
}
#Name_mine_bv {
	left: 259px;
	top: 211px;
	position: absolute;
	overflow: visible;
	width: 488px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 65px;
	color: rgba(255,255,255,1);
}
#Designer__bw {
	opacity: 0.62;
	left: 259px;
	top: 309px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	color: rgba(255,255,255,1);
}
#TextIndicator_bx {
	opacity: 0.63;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextIndicator_bx {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 145px;
	left: 211px;
	top: 209px;
}
#Rectangle_1_by {
	opacity: 0.09;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_by {
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 43px;
	left: 244px;
	top: 373px;
}
#Twitter_bz {
	position: absolute;
	width: 35.569px;
	height: 36px;
	left: 271px;
	top: 376px;
	overflow: visible;
}
#Rectangle_393_b {
	fill: transparent;
}
.Rectangle_393_b {
	position: absolute;
	overflow: visible;
	width: 35.569px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Path_2_b {
	fill: rgba(255,255,255,1);
}
.Path_2_b {
	overflow: visible;
	position: absolute;
	width: 33.431px;
	height: 27.116px;
	left: 0px;
	top: 4.177px;
	transform: matrix(1,0,0,1,0,0);
}
#Facebook_b {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 339px;
	top: 378px;
	overflow: visible;
}
#Rectangle_392_b {
	fill: transparent;
}
.Rectangle_392_b {
	position: absolute;
	overflow: visible;
	width: 36px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Path_1_b {
	fill: rgba(255,255,255,1);
}
.Path_1_b {
	overflow: visible;
	position: absolute;
	width: 16.646px;
	height: 31.876px;
	left: 10.157px;
	top: 0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Instagram_b {
	position: absolute;
	width: 35px;
	height: 35px;
	left: 402px;
	top: 377px;
	overflow: visible;
}
#Path_3_b {
	fill: rgba(255,255,255,1);
}
.Path_3_b {
	overflow: visible;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-linkedin_b {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-linkedin_b {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 31.5px;
	left: 474px;
	top: 378px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_394_b {
	opacity: 0.09;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_394_b {
	position: absolute;
	overflow: visible;
	width: 1102px;
	height: 466px;
	left: 221px;
	top: 540px;
}
#Email__nakulvashisht09gmailcom {
	opacity: 0.95;
	left: 289px;
	top: 594px;
	position: absolute;
	overflow: visible;
	width: 862px;
	white-space: nowrap;
	line-height: 100px;
	margin-top: -29.5px;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 41px;
	color: rgba(255,255,255,1);
}