@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
.mediaViewInfo {
	--web-view-name: Homepage;
	--web-view-id: Homepage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Homepage;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Homepage {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(16,16,16,1);
	overflow: hidden;
	--web-view-name: Homepage;
	--web-view-id: Homepage;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#HOME {
	left: 1393px;
	top: 36px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(146,235,245,1);
}
#ABOUT {
	left: 1520px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(146,235,245,1);
}
#CONTACT {
	left: 1657px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Contact.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(146,235,245,1);
}
#Portfolio {
	left: 140px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.01px;
}
#vashisht_base {
	fill: rgba(146,235,245,1);
}
.vashisht_base {
	overflow: visible;
	position: absolute;
	width: 361.182px;
	height: 578.089px;
	left: 1418.818px;
	top: 148px;
	transform: matrix(1,0,0,1,0,0);
}
#vashisht {
	position: absolute;
	width: 306.849px;
	height: 513.917px;
	left: 1445.998px;
	top: 180.471px;
	overflow: visible;
}
#Name_mine {
	left: 259px;
	top: 211px;
	position: absolute;
	overflow: visible;
	width: 488px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 65px;
	color: rgba(255,255,255,1);
}
#Designer_ {
	opacity: 0.62;
	left: 259px;
	top: 309px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	color: rgba(255,255,255,1);
}
#TextIndicator {
	opacity: 0.63;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.TextIndicator {
	position: absolute;
	overflow: visible;
	width: 20px;
	height: 145px;
	left: 211px;
	top: 209px;
}
#Rectangle_1 {
	opacity: 0.09;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 289px;
	height: 43px;
	left: 244px;
	top: 373px;
}
#Twitter {
	position: absolute;
	width: 35.569px;
	height: 36px;
	left: 271px;
	top: 376px;
	overflow: visible;
}
#Rectangle_393 {
	fill: transparent;
}
.Rectangle_393 {
	position: absolute;
	overflow: visible;
	width: 35.569px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Path_2 {
	fill: rgba(255,255,255,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 33.431px;
	height: 27.116px;
	left: 0px;
	top: 4.177px;
	transform: matrix(1,0,0,1,0,0);
}
#Facebook {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 339px;
	top: 378px;
	overflow: visible;
}
#Rectangle_392 {
	fill: transparent;
}
.Rectangle_392 {
	position: absolute;
	overflow: visible;
	width: 36px;
	height: 36px;
	left: 0px;
	top: 0px;
}
#Path_1 {
	fill: rgba(255,255,255,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 16.647px;
	height: 31.876px;
	left: 10.157px;
	top: 0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#Instagram {
	position: absolute;
	width: 35px;
	height: 35px;
	left: 402px;
	top: 377px;
	overflow: visible;
}
#Path_3 {
	fill: rgba(255,255,255,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-linkedin {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-linkedin {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 31.5px;
	left: 474px;
	top: 378px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_394 {
	opacity: 0.09;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_394 {
	position: absolute;
	overflow: visible;
	width: 1102px;
	height: 466px;
	left: 221px;
	top: 540px;
}
#Hi_Everyone_Myself_Nakul_Sharm {
	opacity: 0.95;
	left: 262px;
	top: 569px;
	position: absolute;
	overflow: visible;
	width: 1022px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}